body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#error_message {
  display:none;
}

#container {
    max-width: 730px;
}

.button-container form,
.button-container form div {
    display:inline-block;
}

.button-container button {
    display: inline-block;
    vertical-align: middle;
}

#change_message {
    display:none;
}